*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: .9vw; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #9d4c87;
  padding: 2.5rem; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  text-align: left; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .88rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  color: #622f55; }
  .heading-secondary:hover {
    transition: all .3s;
    text-shadow: 0.5rem 1rem 5rem rgba(98, 47, 85, 0.6); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragragh {
  color: #c689b6;
  font-size: 1.6rem; }
  .paragragh:not(:last-child) {
    margin-bottom: 3rem; }

.heading-quaternary {
  color: #9d4c87;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  90% {
    transform: translateX(3px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  90% {
    transform: translateX(-3px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  90% {
    transform: translateY(-3px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes onHoverShine {
  0% {
    opacity: 1; }
  50% {
    opacity: .4; }
  100% {
    opacity: 1; } }

.u-center-text {
  text-align: center; }

.u-text-to-upper {
  text-transform: uppercase; }

.u-margin-t-verybig {
  margin-top: 150px; }

.u-margin-t-big {
  margin-top: 8rem; }

.u-margin-b-verybig {
  margin-bottom: 16rem; }

.u-margin-b-big {
  margin-bottom: 8rem; }

.u-margin-b {
  margin-bottom: 4rem; }

.u-margin-b-small {
  margin-bottom: 2rem; }

.u-bcolor-basepurple {
  background-color: #9d4c87; }

.header {
  height: 85vh;
  background-image: linear-gradient(to right top, rgba(98, 47, 85, 0.4), #c689b6), url(../img/autumn-2.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem; }
  .header__logo {
    height: 4rem; }
  .header__logo:hover {
    animation: onHoverShine 3s ease-in 50; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden; }

.grid-on {
  max-width: 100%;
  margin: 5rem 10rem; }

.row {
  max-width: inherit;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2.5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    padding: 1px; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2.5rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 2.5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*2.5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 5rem) / 3) + 2.5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*2.5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 7.5rem) / 4) + 2.5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 7.5rem) / 4) + 5rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4*2.5rem) / 5); }

.demo-grid [class^="col-"] {
  height: 3rem;
  background-color: #9d4c87;
  color: white; }

.calender-on {
  max-width: 100%;
  padding: .5rem; }

.calender-line {
  max-width: inherit;
  margin: 0 auto; }
  .calender-line:not(:last-child) {
    margin-bottom: 0.2rem; }
  .calender-line::after {
    content: "";
    display: table;
    clear: both; }
  .calender-line [class^="cal-"] {
    float: left;
    padding: .2rem; }
    .calender-line [class^="cal-"]:not(:last-child) {
      margin-right: 1rem; }
  .calender-line .cal-1 {
    width: 100%; }
  .calender-line .cal-7 {
    width: calc((100% - 6*1rem) / 7); }
    .calender-line .cal-7:nth-child(+n+6) {
      color: red; }

.demo-cal [class^="cal-"] {
  font-size: 1rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .15s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: #9d4c87; }
  .btn--white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  opacity: .2;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 1s ease-in-out .8s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  letter-spacing: .3rem;
  color: white;
  background-color: #622f55;
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  transition: all .2s;
  border-radius: .5rem; }

.btn-text:hover {
  background-color: #9d4c87;
  color: white;
  box-shadow: 0 1rem 2rem rgba(65, 66, 68, 0.6);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(65, 66, 68, 0.6);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    border-radius: 7px;
    outline-offset: 3px;
    box-shadow: 0 1rem 2rem rgba(65, 66, 68, 0.6);
    position: absolute;
    backface-visibility: hidden; }
    .composition__photo--p1 {
      left: 10rem;
      top: 5rem; }
    .composition__photo--p2 {
      left: 5rem;
      top: 10rem; }
    .composition__photo--p3 {
      left: 0; }
    .composition__photo:hover {
      z-index: 1;
      transition: all 1s; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8);
    filter: blur(1px);
    transition: all .2s; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.4rem 0.5rem rgba(65, 66, 68, 0.7); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #622f55, #c689b6);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.2rem) scale(1.04);
    box-shadow: 0 1.5rem 4rem rgba(65, 66, 68, 0.7);
    transition: all .4s; }

.section-grid {
  background-color: #f1e1ed;
  padding: 10rem 0;
  margin-top: -15vh; }

.section-calender {
  margin-top: -5rem;
  background-color: #f1e1ed;
  padding: 10rem 0; }

.section-image {
  margin-top: -5rem;
  background-color: #f1e1ed;
  padding: 10rem 0; }

.section-features {
  margin-top: -5rem;
  padding: 10rem 0;
  background-image: linear-gradient(to right top, rgba(98, 47, 85, 0.4), #c689b6), url(../img/autumn-3.jpg);
  background-size: cover; }

.section-categories {
  padding: 10rem 0;
  background-image: linear-gradient(to right top, rgba(255, 192, 203, 0.4), rgba(198, 137, 182, 0.1));
  background-size: cover; }
