//COLOR
$purple-dark:#622f55;
$purple-base:#9d4c87;
$purple-light:#c689b6;
$purple-backlight:#f1e1ed;
$gray-dark:#414244;
$gray-base:#9b9c9f;
$gray-light:#e6e6e7;

//GRID
$grid-width: 100%;
$gutter-vertical:2.5rem;
$gutter-horizontal:2.5rem;
$gutter-horizontal-calender:1rem;
$gutter-vertical-calender:.2rem;

//FONT
$default-font-size:1.6rem;