.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: white;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 5.5rem;
    right: 5.5rem;
    box-shadow: 0 1rem 2rem rgba(black, 0.3);
    text-align: center;
    cursor: pointer;
    z-index: 2000;
  }
  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-image: radial-gradient($purple-light, $purple-dark);
    z-index: 1000;
    transition: all 0.4s;
  }
  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    opacity: 0;
    width: 0;
  }
  &__list {
    @include obj-center;
    list-style: none;
    text-align: center;
    padding: 2rem;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      text-decoration: none;
      font-weight: 100;
      color: white;
      text-transform: uppercase;
      background-image: linear-gradient(
        125deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 250%;
      transition: all 0.5s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $purple-base;
      font-weight: 300;
      padding: 2rem;
    }
  }
  &__checkbox:checked ~ &__background  {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
  // ICON
  &__icon {
    position: relative;
    transform: translateY(2.5rem);
    transition: all .5s;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $gray-dark;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .5s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::after{
      top:1rem;
  }
  &__button:hover &__icon::before{
      top:-1rem;
  }
  &__checkbox:checked + &__button &__icon{
      background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before{
      top:0;
      transform: rotateZ(135deg);
  }
  &__checkbox:checked + &__button &__icon::after{
      top:0;
    transform: rotateZ(-135deg);
}
}
