.section-grid{
    background-color: $purple-backlight;
    padding: 10rem 0;
    margin-top:-15vh;
}
.section-calender{
    background-color: $purple-backlight;
    padding: 10rem 0;
}
.section-image{
    background-color: $purple-backlight;
    padding: 10rem 0;
}